<div class='container px-5 px-sm-0'>
  <div class='row'>
  <div class='col-md-7'>
  </div>
  <div class='col-md-11 offset-md-1'>
      <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
      <div class="payment"> 
      <h2>支払い方法</h2>
      <%= f.radio_button :payment_method, :クレジットカード %>
      <%= f.label :クレジットカード %>
      <%= f.radio_button :payment_method, :銀行振込 %>
      <%= f.label :銀行振込 %>
      </div>
      
      <div class="address">
      <h2>お届け先</h2>
      <%= f.radio_button :, : %>
      </div>
      <% end %>
    </div>  
  </div>
  </div>
</div>