<div class="container">
  <div class="m-3 mb-2 position-relative">
    <span class="bg-light font-weight-bold fs-3">　商品一覧　</span>
    <i class="far fa-plus-square fs-2 position-absolute top-0 end-0"></i>
  </div>
  <table class="table table-hover">
    <thead class="bg-light">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to "#{item.name}", admins_item_path(item), :style => "color: black;text-decoration: underline" %></td>
        <td><%= item.price %></td>
        <td><%= item.genre.name %></td>
        <% if item.is_active == true %>
        <td style="color:green;">販売中</td>
        <% elsif %>
        <td style="color:gray;">販売停止中</td>
        <% end %>
       </tr>
       <% end %>
    </tbody>
  </table>
  <%= paginate @items %>
</div>
