<div class="container">
  <div class="row">
    <p class="col-1"></p>
    <p class="mt-4 fs-2 bg-light col-2 text-center">商品詳細</p>
  </div>
  
  <div class="row">
    <div class="col-1"></div>
    <div class="item_image col-3">
      <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "no_image.jpg",size:"300x300" %>
    </div>
    
    <div class="col-6">
      <div class="row">
        <p class="col-2">商品名</p>
        <p class="col-2"><%=@item.name %></p>
      </div>
      <div class="row">
        <p class="col-2">商品説明</p>
        <p class="col-2"><%= @item.introduction %></p>
      </div>
      <div class="row">
        <p class="col-2">ジャンル</p>
        <p class="col-2"><%= @item.genre.name %></p>
      </div>
      <div class="row">
        <p class="col-2">税込価格<br>(税抜価格)</p>
        <p class="col-2"><%= @item.price %>(<%= @item.add_tax_price.to_s(:delimited) %>)円</p>
      </div>
      <% if @item.is_active == true %>
      <div class="row">
        <p class="col-2">>販売ステータス</p>
        <p class="col-2">販売中</p>
      </div>
      <% elsif @item.is_active == false %>
      <div class="row">
        <p class="col-2">>販売ステータス</p>
        <p class="col-2">販売停止中</p>
      </div>
      <% end %>
      <div class="row">
      <%= link_to "編集する", edit_admins_item_path(@item),class:"btn btn-success"%>
      </div>
    </div>
  </div>
</div>