<div class='container px-5 px-sm-0'>
  <div class='row'>
  <div class='col-md-7'></div>
  <div class='col-md-11 offset-md-1'>
    <h2>商品一覧(全<%= @items.count %>件)</h2>

    <div class="item_new">
        <% @items.each do |item| %>
        <div class="item_icon">
          <%= link_to item_path(item) do %>
          <%= attachment_image_tag item, :image,class:'item_visual' %>
          <% end %>
          <p>商品名：<%= item.name %></p>
          <p>金額：¥<%= item.price %>(税込)</p>
        </div>
        <% end %>
        <%= paginate @items %>
    </div> 
  </div>
</div>
