aa
<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
<%= link_to "ログイン", new_admin_session_path %>


<div class='container px-5 px-sm-0'>
  <div class='row'>
  <div class='col-md-6'>
     
      
      
  </div>
  <div class='col-md-11 offset-md-1'>
     
     <div class="bg-info d-flex align-items-center justify-content-center" style="height:300px;">
    
      <p>ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。</br>
    <br>会員でない方も商品の閲覧はできますが、</br>
    <br>購入には会員登録が必要になります。</br>
    </div>

    <h1 class="my-3 h3">新着商品</h1>
    
    <div class="item_new">
        <% @items.each do |item| %>
        <div>
          <%= attachment_image_tag item, :image %>
          <!--<p>%= image_tag('sample-author1.jpg') %></p>-->
          <p>商品名：<%= item.name %></p>
          <p>金額：<%= item.price %></p>
        </div>
        <% end %>
  
    
    
    <%= link_to '全ての商品を見る>',items_path %>  
     
  </div> 
  </div>
</div>
